<div class="quick-mod">
  <%= link_to_if post.is_approvable?, "Approve", moderator_post_approval_path(post_id: post.id), method: :post, remote: true, class: "approve-link btn" %> |
  <%= link_to "Breaks Rules", moderator_post_disapprovals_path(post_disapproval: { post_id: post.id, reason: "breaks_rules" }), method: :post, remote: true, class: "disapprove-link btn" %> |
  <%= link_to "Poor Quality", moderator_post_disapprovals_path(post_disapproval: { post_id: post.id, reason: "poor_quality" }), method: :post, remote: true, class: "disapprove-link btn" %> |
  <%= link_to "No Interest",  moderator_post_disapprovals_path(post_disapproval: { post_id: post.id, reason: "disinterest" }), method: :post, remote: true, class: "disapprove-link btn" %> |
  <%= link_to "Detailed Rejection", "#", "data-post-id" => post.id, class: "detailed-rejection-link btn" %> |
  <%= link_to "Expunge", expunge_moderator_post_post_path(:post_id => post.id, :id => post.id), :remote => true, :method => :post, :id => "expunge", :data => {:confirm => "This will permanently delete this post (meaning the file will be deleted(ONLY USE WHEN NEEDED!). Are you sure you want to delete this post?"} %> |
  <%= link_to "Find similar", iqdb_queries_path(:post_id => post.id) %> |
	<% if CurrentUser.user.api_key %>	
  <a href="https://allthefallen.ninja/the_world_of_lauri/autotagger.php?startid=<%= post.id %>&usr=<%= CurrentUser.user.name %>&apikey=<%= CurrentUser.user.api_key.key %>" target="_blank">Tag Autocopy</a>
  <% end %>
</div>
